@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  font-family: 'Roboto';
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  background-color: #1e6fbe;
}

.parallax-container .parallax img.header-image {
  bottom: -200px;
}

/* header .parallax img {
  max-width: 100%;
} */

.page-footer {
  background-color: #ed2024;
}

.color-blue {
  color: #1e6fbe;
}

.background-blue {
  background-color: #1e6fbe;
}

.color-red {
  color: #ed2024;
}
.background-red {
  background-color: #ed2024;
}

.btn.background-red:hover {
  background-color: #ea6c6f;
}

.icon-block i.medium {
  color: #1e6fbe;
  max-width: 80px;
}

.social-icons .col {
  max-height: 64px;
}

.sidenav-social-icons {
  bottom: 100px;
  position: absolute;
  width: 100%;
}

.sidenav-social-icons img {
  max-width: 30px;
}

.nav-wrapper .social-icons img {
  filter: invert(1);
  margin: 0 auto;
  max-height: 30px;
}

@media (max-width: 1024px) {
  .logo {
    max-width: 90vw;
  }
}

@media (max-width: 640px) {
  body {
    color: #000;
  }
  .logo {
    max-width: 200px;
  }
  .parallax-container .parallax img.header-image {
    left: auto;
  }
}